<div class="viewport-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="offset-sm-6 col-sm-6 p-5">
        <img
          class="ford-logo img-fluid d-block m-auto"
          src="assets/img/ford.png"
          alt="Ford Logo"
        />
      </div>
      <div class="col-sm-6 mt-5 mb-2">
        <img
          class="img-fluid d-none d-sm-block"
          src="assets/img/Ranger.png"
          alt="Ford Ranger"
        />
      </div>
      <div class="col-sm-6">
        <app-login-form></app-login-form>
      </div>
    </div>
  </div>
</div>
