<div class="modal-header">
  <h4 class="modal-title">{{ getTitle() }}</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModel.dismiss()"
  ></button>
</div>
<div class="modal-body text-break">
  <div *ngIf="isConfirmation; else successMessage">
    Tem certeza que deseja
    <strong class="fst-italic">{{ getAction() }}</strong> o item:
  </div>
  <ng-template #successMessage>
    <div *ngIf="isSuccess; else errorMessage">
      Os dados foram
      <strong class="fst-italic">{{ getAction() }}</strong> com sucesso.
    </div>
  </ng-template>
  <ng-template #errorMessage>
    Houve uma falha na operação. Verifique os dados e tente novamente.
  </ng-template>
  <div
    *ngFor="let key of getKeys(modalOptions?.body)"
    [ngClass]="{ 'fw-bold': isBold(key) }"
    class="container-fluid"
  >
    <div class="row">
      <div class="col fst-italic">{{ getLabel(key) }}</div>
      <div class="col">{{ getValue(key) }}</div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="activeModel.dismiss()">
    {{ isConfirmation ? "Não" : "Fechar" }}
  </button>
  <button
    *ngIf="isConfirmation"
    type="button"
    class="btn btn-primary"
    (click)="activeModel.close()"
  >
    Sim
  </button>
</div>
