<div class="viewport-center d-flex flex-column align-items-between">
  <h1 class="text-primary display-4 text-center mb-4">Dashboard FORD</h1>

  <app-data-cards (selectVehicleEvent)="selectVehicle($event)"></app-data-cards>

  <div class="container mt-4 mb-4 mt-xl-5 mb-xl-5">
    <div id="grid-wrapper" class="d-block d-lg-grid">
      <app-car-image
        id="image"
        [selectedVehicle]="selectedVehicle"
      ></app-car-image>
      <app-data-charts
        id="charts"
        [selectedVehicle]="selectedVehicle"
      ></app-data-charts>
    </div>
  </div>

  <app-data-table
    id="table"
    class="position-fixed bottom-0 start-0 end-0 bg-white"
  ></app-data-table>
</div>
