.navbar-toggler {
  position: relative;
  z-index: 2;
  padding: 0;
  border: 1px solid hsl(0, 0%, 40%);
  transition: box-shadow 200ms ease-out;

  &:hover,
  &:focus:hover {
    box-shadow: 0 0 0 0.1rem;
  }
  &:focus {
    box-shadow: none;
  }
}

.menu-background {
  position: absolute;
  inset: 0;

  .menu-overlay {
    background-color: rgba(blue, 0.25);
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 1;
  }

  .menu {
    overflow: auto;
    background: white;
    z-index: 1;
    position: relative;

    &.mobile {
      min-height: 35vh;
      max-height: 50vh;
      width: 100vw;
    }
    &.desktop {
      height: 100vh;
      width: 20em;
      max-width: 100vw;
    }
  }
}
