<h2 class="text-center text-primary">Boas-vindas</h2>

<form class="form mt-5" (ngSubmit)="login()" #loginForm="ngForm">
  <div id="user-field" class="mb-3">
    <div class="input-group">
      <div class="input-group-text">
        <i class="fa fa-solid fa-user text-primary"></i>
      </div>
      <input
        type="text"
        class="form-control"
        placeholder="Insira seu usuário"
        [(ngModel)]="username"
        name="username"
        #userField="ngModel"
        required
      />
    </div>
    <app-message
      message="Usuário obrigatório"
      *ngIf="userField.invalid && userField.touched"
    ></app-message>
  </div>

  <div id="password-field" class="mb-3">
    <div class="input-group">
      <div class="input-group-text">
        <i class="fa fa-solid fa-lock text-primary"></i>
      </div>
      <input
        type="password"
        [type]="passwordType"
        class="form-control"
        placeholder="Insira sua senha"
        [(ngModel)]="password"
        name="password"
        #passwordField="ngModel"
        required
      />
      <div
        tabindex="0"
        role="button"
        class="input-group-text position-relative"
        style="z-index: 1"
        (click)="toggleShowPassword()"
        (keypress)="toggleShowPassword()"
      >
        <i
          class="fa fa-solid fa-eye-slash text-primary"
          *ngIf="!isPasswordShown; else eyeOpened"
        ></i>
        <ng-template #eyeOpened>
          <i class="fa fa-solid fa-eye text-primary"></i>
        </ng-template>
      </div>
    </div>
    <app-message
      message="Senha obrigatória"
      *ngIf="passwordField.invalid && passwordField.touched"
    ></app-message>
  </div>

  <div id="auto-login-field" class="mb-3">
    <div class="d-flex justify-content-center justify-content-md-end">
      <label
        class="form-check-label fst-italic"
        for="flexSwitchCheckDefault"
        style="margin-top: 2px"
      >
        Lembre de mim
      </label>
      <div class="toggle-switch form-check-inline form-switch ms-2 me-0">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
          [(ngModel)]="autoLogin"
          (ngModelChange)="setAutoLogin(autoLogin)"
          name="autoLogin"
        />
        <i
          class="login-tooltip-icon d-flex fa fa-info text-primary"
          tabindex="0"
          (mouseover)="showTooltip()"
          (mouseout)="hideTooltip()"
          (blur)="hideTooltip()"
          (keypress)="toggleTooltip()"
          (touchstart)="toggleTooltip()"
        >
        </i>
        <div
          @fade
          class="login-tooltip"
          *ngIf="isTooltipVisible"
          (touchstart)="hideTooltip()"
        >
          Se marcado, só será preciso logar-se novamente em 30 dias.
        </div>
      </div>
    </div>
  </div>

  <div class="d-grid">
    <button
      class="submit"
      class="btn btn-primary btn-block"
      [disabled]="loginForm.invalid || isSigningIn"
    >
      <div *ngIf="!isSigningIn; else spinnerBlock">Entrar</div>
      <ng-template #spinnerBlock>
        <span class="spinner-border spinner-border-sm" role="status"></span>
      </ng-template>
    </button>
  </div>
</form>
